<% layout('layouts/dashboard-boilerplate') -%>
<% block('styles').append(`<link rel="stylesheet" href="/css/profiles/index.css" />`) %>

<div class="dashboard-header-row">
  <form class="search-form" method="GET" action="/dashboard/<%= slug %>/profiles">
    <input type="text" name="search" placeholder="Search profiles..." class="search-input">
    <button type="submit">Search</button>
  </form>
  <a href="/dashboard/<%= slug %>/profiles/new" class="create-hotel-btn create-hotel-btn-fixed">+ Create New Profile</a>
</div>
<div class="profiles-container">
  <% if (profiles.length > 0) { %>
    <div class="profiles-grid">
      <% profiles.forEach(profile => { %>
        <div class="profile-card">
          <a href="/dashboard/<%= slug %>/profiles/<%= profile.slug %>">
            <div class="profile-image-wrapper">
              <img src="<%= profile.image%>" alt="<%= profile.name %>" class="profile-image" />
            </div>
            <div class="profile-info">
              <h3 class="profile-name"><%= profile.name %></h3>
              <p class="profile-email"><%= profile.email %></p>
              <p class="profile-location"><%= profile.address && profile.address.city ? profile.address.city : '' %> <%= profile.address && profile.address.country ? ', ' + profile.address.country : '' %></p>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p class="no-profiles">No profiles found.</p>
  <% } %>
</div>
