<% layout('layouts/dashboard-boilerplate') %>
<% block('styles').append(`<link rel="stylesheet" href="/css/hotel/index.css" />`) %>

<div class="dashboard-main">
  <a href="/dashboard/<%= user.slug %>/hotels/new" class="create-hotel-btn create-hotel-btn-fixed">+ Create New Hotel</a>
  <div class="hotel-list-container">
  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <% if (hotels && hotels.length) { %>
    <div class="hotel-cards-grid">
      <% hotels.forEach(hotel => { %>
        <div class="hotel-card">
          <img src="<%= hotel.hotelLogo %>" alt="<%= hotel.hotelName %> Logo" class="hotel-card-logo">
          <div class="hotel-card-body">
            <div class="hotel-card-heading">
              <h2 class="hotel-card-title"><%= hotel.hotelName %></h2>
              <p class="hotel-card-type"><%= hotel.hotelType %></p>
            </div>
            <div class="hotel-card-others">
              <p class="hotel-card-address">
                <%= hotel.hotelAddress.street %>, <%= hotel.hotelAddress.city %>, <%= hotel.hotelAddress.state %>
              </p>
            </div>
            <div class="hotel-card-links">
              <a href="/hotel/<%= hotel.hotelId %>" class="hotel-card-link">View Hotel</a>
              <a href="/hotel/<%= hotel.hotelId %>/edit" class="hotel-card-edit">Edit</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No hotels found.</p>
  <% } %>
</div>